
    body
    {
    font-family: 'poppins',sans-serif;
    }
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    a
    {
        text-decoration: none;
      
    }

    .row
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .small-container
    {
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-4
    {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
    }
    .col-4 img
    {
        width: 100%;
    }
    .col-4 img:hover
    {
        /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    
    .title
    {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #555;
    }
    .title::after
    {
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }

   p
   {
    font-weight: bold;
    color: #555;
   }

    .click
    {
        display: inline-block;
        background: white;
        color:  rgb(4, 0, 255);
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: 0.5s;
        border: 1px solid black;
        font-weight: bold;
        
    }
    .click:hover
    {
        background-color: aqua;
    }   
    a
    {
        display: inline-block;
        background: white;
        color:  rgb(34, 33, 87);
        padding: 8px 30px;
        margin: 30px 0;
        transition: 0.5s;
        font-weight: bold;
    } 
    a:hover
    {
       color: aqua;
    } 
   
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: blue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
